body {
	color: #222222;
}
h1 {
	padding-right: 20px;
	margin: 0;
}
h3 {
	margin: 0; 
}
p.secondary {
	color: #999999;
}

code {
	padding: 8px 24px 8px 24px;
	background-color: white;
	width: 100%
	border-color: #DDDDDD;
	border-radius: 8px;
	margin-left: 24px;
}
